body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("/static/images/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:auto;
}
.navbar-index-custom{
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
  display: inline;
}
.custom-content{
  background: rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  height: 82%;
  padding-top: 10%;
  padding-bottom: 10%;
  overflow:auto;
}
.custom-content-2{

    background: rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    height: 82%;
    padding-top: 8%;
    padding-bottom: 8%;
    overflow:auto;
}
.custom-content-3{

    background: rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    height: 82%;
    padding-top: 2%;
    padding-bottom: 4%;
    overflow:auto;
}
.text-white{
  color:white;
}
