<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <!--app title-->
    <title>Fancy Shoppinglist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>

    <div class="bg">
      {% block main %}
      {% block content %}

      {% endblock %}
      {% endblock %}
    <!--start of footer-->
  <div class="footer navbar-fixed-bottom text-center text-white navbar-index-custom">
    copyright 2017
  </div>


</div>
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
