{% extends "dashbase.html" %}
{% block content %}

      <!--start of content of the app-->
    <div class="dash-content">
      <div class="list">
        <div class="list-header">
          <h2>Shopping lists</h2>
          <h5>view, add and share your shopping lists here</h5>
        </div>
        <div class="list-body">

            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
            <span class="list-item">Shopping list <a href="#"> share</a> <a href="#">view </a> </span>
        </div>
        <div class="list-footer">
            <a href="{{url_for('dash.add_shoppinglist')}}">add new</a>
        </div>
      </div>
      <div class="list">
        <div class="list-header">
          <h2>Buddies</h2>
          <h5>View friend's shopping lists and add friends</h5>
        </div>
        <div class="list-body">
        <span class="list-item">Buddy <a href="#"> delete</a> <a href="#">view </a> </span>
        <span class="list-item">Buddy <a href="#"> delete</a> <a href="#">view </a> </span>
        <span class="list-item">Buddy <a href="#"> delete</a> <a href="#">view </a> </span>
        <span class="list-item">Buddy <a href="#"> delete</a> <a href="#">view </a> </span>
        <span class="list-item">Buddy <a href="#"> delete</a> <a href="#">view </a> </span>
        <span class="list-item">Buddy <a href="#"> delete</a> <a href="#">view </a> </span>
        <span class="list-item">Buddy <a href="#"> delete</a> <a href="#">view </a> </span>
        <span class="list-item">Buddy <a href="#"> delete</a> <a href="#">view </a> </span>
        <span class="list-item">Buddy <a href="#"> delete</a> <a href="#">view </a> </span>
        </div>
        <div class="list-footer">
            <a href="#">Invite Buddy</a>
        </div>
      </div>
      <div class="list">
        <div class="list-header">
          <h2>Shopping Zones</h2>
          <h5>view and add places you shop at</h5>
        </div>
        <div class="list-body">
        <span class="list-item">Zone </span>
        <span class="list-item">Zone </span>
        <span class="list-item">Zone </span>
        <span class="list-item">Zone </span>
        <span class="list-item">Zone </span>
        <span class="list-item">Zone </span>

        </div>
        <div class="list-footer">
            <a href="#">add new</a>

        </div>
      </div>

    </div>
      <!--end of content-->
    {% endblock%}
