<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <!--app title-->
    <title>Fancy Shoppinglist</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert-{{category}}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}
        <!--start  of navigation bar. containing logo, app name and tabs-->
        <div class="dash-nav">
          <div class="app-heading">
            <ul>
              <li>
                <a href="{{url_for('dash.dashboard')}}"><img src="/static/images/logo.png" alt="logo"></a></li>
                <li class="app-name">Fancy Shoppinglist</li>
            </ul>
          </div>
          <div class="nav-items">
            <ul>
              <li><a href="#">{{username}}</a></li>
              <li><a href="#">Buddies</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Logout</a></li>
            </ul>

          </div>

        </div>
          <!--end of navigation-->
          <!--start of content of the app-->
      {% block main %}
      {% block content %}

      {% endblock %}
      {% endblock %}

    </div>
    <!--start of footer-->
  <div class="footer">
    copyright 2017
  </div>
</body>
</html>
