<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <!--app title-->
    <title>Fancy Shoppinglist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>

    <div class="bg">
        <!--start  of navigation bar. containing logo, app name and tabs-->
        <nav class="navbar navbar-inverse navbar-index-custom">
          <div class="container-fluid">
          <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('dash.dashboard')}}"><img class="d-inline-block align-top" src="/static/images/logo.png" alt="logo">Fancy Shoppinglist</a>


                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
          </div>
            <ul class="nav navbar-nav navbar-right navbar-collapse collapse" id="myNavbar">
              <li><a href="#">{{username}}</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>

          </div>

        </nav>

            {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='error' %}
                                {% set category='danger' %}
                            {% endif %}
                            <div class="alert alert-{{category}} text-center">{{ message|safe }}</div>
                        {% endfor %}
                    {% endif %}
                {%- endwith %}
            {% endblock %}
          <!--end of navigation-->
          <!--start of content of the app-->
      {% block main %}
      {% block content %}

      {% endblock %}
      {% endblock %}

    </div>
    <!--start of footer-->
  <div class="footer navbar-fixed-bottom text-center text-white navbar-index-custom">
    copyright 2017
  </div>

  </div>

    <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
