{% extends "dashbase.html" %}
{% block content %}

      <!--start of content of the app-->
    <div class="col-lg-12 text-center custom-content-4">
      <div class="row row-dash">
        <div class="col-lg-12">
          <h1 class="col-lg-3 text-success p-m-fix">{{slist}}
          <small><a href="#">edit </a></small></h1>
          <span class="col-lg-3 col-md-4">
          <select class=" form-control">
            <option value="">select zone</option>
            <option value="">zone</option>
            <option value="">zone</option>
            <option value="">zone</option>
          </select>
        </span>
          <span class="col-lg-3 col-md-4 text-white text-left">
          <label for="share"> share</label>
          <input id="share" type="checkbox" name="" value="">
        </span>
        </div>

      </div><br><br>
        <div class="row row-dash">
            <div class="panel panel-primary col-lg-5 col-md-6 panel-custom">
              <div class="panel-heading text-left"><b>item list</b>
                <a href="#" class="col-lg-offset-8 col-md-offset-8 col-sm-offset-8 btn btn-sm btn-success">save</a>
              </div>
              <div class="panel-body table-responsive text-left panel-custombody2">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>name</th>
                    <th>price</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>item</td>
                    <td><input type="number" name="" value="100"></td>
                    <td><input type="number" name="" value="3"></td>
                  </tr>
                  <tr>
                    <td>item</td>
                    <td><input type="number" name="" value="100"></td>
                    <td><input type="number" name="" value="3"></td>
                  </tr>
                  <tr>
                    <td>item</td>
                    <td><input type="number" name="" value="100"></td>
                    <td><input type="number" name="" value="3"></td>
                  </tr>
                  <tr>
                    <th>TOTAL</td>
                    <th>300</td>
                    <th>9</td>
                  </tr>
                </tbody>
              </table>

              </div>
            </div>
            <div class="new-item">

              <form class="form" action="#" method="post">
                <div class="form-group col-lg col-xs-4 col-xs col-md-4 col-md text-left">
                  <div class="input-group">
                    <input type="text" name="name" class="form-control" placeholder="Item Name">
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="submit">
                          add new item
                      </button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
      <!--end of content-->
    {% endblock%}
