{% extends "dashbase.html" %}
{% block content %}

      <!--start of content of the app-->
    <div class="dash-content">
      <div class="shoping-list">
        <div class="s-head">
          <h1>Shoppinglist name</h1>
          <a href="#">edit </a>
          <span>
          <select>
            <option value="">select zone</option>
            <option value="">zone</option>
            <option value="">zone</option>
            <option value="">zone</option>
          </select>
        </span>
          <span>
          <label for="share"> share</label>
          <input id="share" type="checkbox" name="" value="">
        </span>
        </div>
        <div class="s-content">
            <div class="items">
              <h3>item list</h3>
              <table style="width:40%">
                <tr>
                  <th>name</th>
                  <th>price</th>
                  <th>Quantity</th>
                </tr>
                <tr>
                  <td>item</td>
                  <td>100</td>
                  <td><input type="number" name="" value="3"></td>
                </tr>
                <tr>
                  <td>item</td>
                  <td>100</td>
                  <td><input type="number" name="" value="3"></td>
                </tr>
                <tr>
                  <td>item</td>
                  <td>100</td>
                  <td><input type="number" name="" value="3"></td>
                </tr>
                <tr>
                  <th>TOTAL</td>
                  <th>300</td>
                  <th>9</td>
                </tr>
              </table>
            </div>
            <div class="new-item">
              <form class="" action="#" method="post">
                <input type="text" name="" value="" placeholder="Enter new item name"><br>
                <button type="submit" name="button" class="button3">add</button>
              </form>
            </div>
        </div>
      </div>
    </div>
      <!--end of content-->
    {% endblock%}
