{% extends "dashbase.html" %}
{% block content %}

      <!--start of content of the app-->
    <div class="col-lg-12 text-center custom-content-4">
      <div class="row row-dash">
        <div class="col-lg-12">
          <h1 class="col-lg-3 text-success p-m-fix">{{slist['name']}}
          <small><a href="{{url_for('dash.update_view', list_id=slist['id'])}}">edit </a></small></h1><a href="{{url_for('dash.delete_list', list_id=slist['id'])}}" class="btn btn-danger">delete</a>
          <form class="" action="{{url_for('dash.add_shoppingzone',list_id=slist['id'] )}}" method="post">
            <span class="col-lg-3 col-md-4 input-group">
              <label for="e" class="text-white">select shopping zone</label>
            <select id="e" name="zone">
              {%for zone in zlist%}
              {%if zone[username] == slist['zone']%}
              <option value="{{zone[username]}}" selected>{{zone[username]}}</option>
              {%else%}
              <option value="{{zone[username]}}">{{zone[username]}}</option>
              {%endif%}
              {%endfor%}
            </select>
            <button type="submit" class="btn btn-success">save</button>
          </span>
          </form>

        </div>

      </div><br><br>
        <div class="row row-dash">
            <div class="panel panel-primary col-lg-5 col-md-6 panel-custom">
              <div class="panel-heading text-left"><b>item list</b>
              </div>
              <div class="panel-body table-responsive text-left panel-custombody2">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>name</th>
                    <th>price</th>
                    <th>Quantity</th>
                    <th>action</th>
                  </tr>
                </thead>
                <tbody>
                  {%set list_id = slist['id'] | int%}
                  {% for i in ilist%}
                  {%set item_id = i['list_id'] | int%}
                  {% if list_id == item_id%}
                  <tr>
                    <td>{{i['name']}}</td>
                    <td>{{i['price']}}</td>
                    <td>{{i['quantity']}}</td>
                    <td><a href="{{url_for('dash.delete_item', list_id=slist['id'] , item_id=i['id'])}}">delete</a></td>

                  </tr>
                  {%endif%}
                  {%endfor%}
                </tbody>
              </table>

              </div>
            </div>
            <div class="new-item">

              <form class="form" action="{{url_for('dash.add_item', list_id=slist['id'])}}" method="post">
                <div class="form-group col-lg col-xs-4 col-xs col-md-4 col-md text-left">
                  <div class="input-group">
                    <input type="text" name="item" class="form-control" placeholder="Item Name, price, quantity">
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="submit">
                          add new item
                      </button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
      <!--end of content-->
    {% endblock%}
